#title {
    text-align: center;
}

#result {
    text-align: center;
    font-weight: bold;
}

.boards {
    white-space: nowrap;
    overflow: hidden;
    padding: 30px 1000px;
}

/* Game Board */
.board-wrapper {
    max-width: 500px;
    overflow: hidden;
    background: #000;
    display: inline-block;

    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;

    -webkit-filter: blur(3px) grayscale(1);
    -moz-filter: blur(3px) grayscale(1);
    filter: blur(3px) grayscale(1);
    z-index: 1;
    position: relative;
}

.board-wrapper.active {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;

    transform: translateZ(0) scale(1.05);
    -webkit-transform: translateZ(0) scale(1.05);
    -moz-transform: translateZ(0) scale(1.05);
    z-index: 100;
}

/* Board Tiles */
.tile {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-color: black;

    width: 50px;
    height: 50px;
}

.tile:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.tile__inner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.tile--wall {
    background: gray;
}
.tile--dirt {
    background: brown;
}
.tile--falling-rock:after, .tile--rock:after, .tile--steady-rock:after {
    content: '⬤';
    font-size: 40px;
    color: lightgray;
}
.tile--bug:after {
    content: '♥';
    font-size: 40px;
    color: green;
}
.tile--start {
    background: blue;
}
.tile--end,
.tile--end-open {
    background: red;
}
.tile--end-open,
.tile--end.opening {
    -webkit-transition: -webkit-transform 0.1s;
    transition:  transform 0.1s linear;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
.tile--mole:after {
    content: '';
    background: url('../assets/character.png');
    background-size: 100%;
}
.tile--empty {
    background: none;
}

/* Mole directions */
.tile--mole.down:after {
    background-position: -100% 0;
}
.tile--mole.left:after {
    background-position: -100% -100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.tile--mole.right:after {
    background-position: -100% -100%;
}
.tile--mole.up:after {
    background-position: -100% -200%;
}


/* Moving objects - translate transformations */
.anim {
    z-index: 10;
    transition:  transform 0.1s linear;
}
.anim--left {
    transform: translate(-100%, 0);
}
.anim--right {
    transform: translate(100%, 0);
}
.anim--up {
    transform: translate(0, -100%);
}
.anim--down {
    transform: translate(0, 100%);
}